<div class="b-example-divider text-center">

  <h1 class="titulo-principal">Olafur Electricidad</h1> 
  </div>
  
  <div id="carouselExampleControls" class="carousel slide text-center" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" >
        <img src="./MULTIMEDIA/IMAGEN1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../MULTIMEDIA/imagen2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../MULTIMEDIA/IMAGEN3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
<h1 class="titulo-principal text-center">Acerca de nosotros</h1>
  <p class="acercadenosotros text-center m-5">
    Ofrecemos soluciones de mantenimiento eléctrico preventivo o correctivo personalizadas en función de la actividad que llevan a cabo nuestros clientes, teniendo en cuenta las instalaciones y los requerimientos de la prestación. La diversidad de soluciones se encuentra atravesada por un mismo compromiso de calidad, seguridad y medio ambiente.
  </p>
  <h3 class="sucursales text-center m-5">¿Qué hacemos?</h3>
  <p class="acercadenosotros text-center m-5">
    El mantenimiento eléctrico preventivo y correctivo se refiere a la realización de inspecciones rutinarias, pruebas y servicios en el equipo eléctrico, para poder detectar, reducir o suprimir problemas inminentes en dichos equipos. La intención de realizar un programa de mantenimiento eléctrico preventivo bien desarrollado reduce el riesgo de accidentes, fallos en el sistema, ruptura de equipos, el peligro de muertes, minimiza costosos paros no programados y tiempos caídos de producciones.
  </p>
  <p class="acercadenosotros text-center m-5">
    Sin embargo, el mantenimiento eléctrico correctivo se basa en la corrección de las averías o disparos cuando éstas se presentan, y no de forma planificada, al contrario que el mantenimiento preventivo; por ello impide el diagnostico fiable de las causas que provocan el fallo, pues se ignora si se ocasionó por mal trato, abandono, desconocimiento del manejo, desgaste natural. Como ejemplo de este tipo de mantenimiento correctivo no planificado, es habitual la reparación urgente tras una avería que obligó a detener el equipo o máquina dañada.
  </p>
  <p class="acercadenosotros text-center m-5">
    Para mas info visita nuestra pestaña de <a href="contacto">contacto</a>.
    También puedes acercarte a cualquiera de nuestras <a href="sucursales">sucursales </a>para una atención más personalizada.
  </p>
  <div class="b-example-divider"></div>